.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* KanaDisplay */

.KanaInputArea {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.KanaDisplay {
  border-color: black;
  border-style: solid;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.KanaDisplay-symbol {
  font-size: 80px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100px;
  /* bizarrely, Comic Sans displays the characters nicer? */
}

.KanaDisplay-input {
}

.KanaLearningLeft {
    width: 50%;
    float: left;
}

.KanaLearningLeft input.KanaLearningLeft-input-text {
    width: 110px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.KanaLearningRight {
    width: 50%;
    float: right;
}

.KanaLearningRight-results {
    border-color: #C0C0C0;
    border-width: 1px;
    border-style: solid;
}

.KanaLearningRight-results tr {
}

.KanaLearningRight-results td {
  border-color: #C0C0C0;
  border-width: 1px;
  border-style: solid;
  text-align: left;
}
